# Criação do database
Nessa seção é criado o database contendo as informações de cada dataset filtrado criado na etapa anterior.
A database será do modelo sqlite3 e é construido a partir de tabelas contendo as informações dos datasets, juntamente com suas relações.

## Imports

In [1]:
from sqlalchemy import create_engine, Table, Column, Integer, String, ForeignKey
from sqlalchemy.orm import sessionmaker, declarative_base, relationship
import pandas as pd
import os

In [2]:
db_path = "/data.sqlite"
out_path = "../out" #from ./code
basedir = os.path.abspath("../")
init_csv_pattern = "survey_results_20"
end_csv_pattern = "_filtered.csv"

In [3]:
Base = declarative_base()
engine = create_engine("sqlite:///" + out_path + db_path, echo=True)
Session = sessionmaker(bind=engine)
session = Session()

In [4]:
class CodingAct(Base):
    __tablename__ = 'codacts'
    
    id = Column(Integer, primary_key=True)
    name = Column(String, unique=True)

class Collab(Base):
    __tablename__ = 'collabs'
    
    id = Column(Integer, primary_key=True)
    name = Column(String, unique=True)

class Database(Base):
    __tablename__ = 'databases'
    
    id = Column(Integer, primary_key=True)
    name = Column(String, unique=True)

class DevType(Base):
    __tablename__ = 'devtypes'
    
    id = Column(Integer, primary_key=True)
    name = Column(String, unique=True)

class Language(Base):
    __tablename__ = 'languages'
    
    id = Column(Integer, primary_key=True)
    name = Column(String, unique=True)

class MiscTech(Base):
    __tablename__ = 'misctechs'
    
    id = Column(Integer, primary_key=True)
    name = Column(String, unique=True)

class OpSys(Base):
    __tablename__ = 'opsys'
    
    id = Column(Integer, primary_key=True)
    name = Column(String, unique=True)

class Platform(Base):
    __tablename__ = 'platforms'
    
    id = Column(Integer, primary_key=True)
    name = Column(String, unique=True)

class WebFrame(Base):
    __tablename__ = 'webframes'
    
    id = Column(Integer, primary_key=True)
    name = Column(String, unique=True)

In [5]:
# Entry-CodingAct Association
worked_codact_association = Table('worked_codact_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('codact_id', Integer, ForeignKey('codacts.id'))
    )

# Entry-Collab Association
worked_collab_association = Table('worked_collab_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('collab_id', Integer, ForeignKey('collabs.id'))
    )
want_collab_association = Table('want_collab_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('collab_id', Integer, ForeignKey('collabs.id'))
    )

# Entry-Database Association
worked_database_association = Table('worked_database_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('database_id', Integer, ForeignKey('databases.id'))
    )
worked_devtype_association = Table('worked_devtype_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('devtype_id', Integer, ForeignKey('devtypes.id'))
    )
want_database_association = Table('want_database_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('database_id', Integer, ForeignKey('databases.id'))
    )
# Entry-Language Association
worked_language_association = Table('worked_language_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('language_id', Integer, ForeignKey('languages.id'))
    )
want_language_association = Table('want_language_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('language_id', Integer, ForeignKey('languages.id'))
    )

# Entry-MiscTech Association
worked_misctech_association = Table('worked_misctech_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('misctech_id', Integer, ForeignKey('misctechs.id'))
    )
want_misctech_association = Table('want_misctechs_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('misctech_id', Integer, ForeignKey('misctechs.id'))
    )

# Entry-OpSys Association
worked_opsys_association = Table('worked_opsys_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('opsys_id', Integer, ForeignKey('opsys.id'))
    )

# Entry-Platform Association
worked_platform_association = Table('worked_platform_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('platform_id', Integer, ForeignKey('platforms.id'))
    )
want_platform_association = Table('want_platform_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('platform_id', Integer, ForeignKey('platforms.id'))
    )

# Entry-WebFrame Association
worked_webframe_association = Table('worked_webframe_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('webframe_id', Integer, ForeignKey('webframes.id'))
    )
want_webframe_association = Table('want_webframe_association', Base.metadata,
    Column('entry_id', Integer, ForeignKey('entries.id')),
    Column('webframe_id', Integer, ForeignKey('webframes.id'))
    )

In [6]:
class Entry(Base):
    __tablename__ = 'entries'

    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    age = Column(Integer)
    coding_act = relationship("CodingAct", secondary=worked_codact_association, backref="worked_by")
    collab_worked = relationship("Collab", secondary=worked_collab_association, backref="worked_by")
    collab_want = relationship("Collab", secondary=want_collab_association, backref="want_by")
    converted_compy = Column(Integer)
    database_worked = relationship("Database", secondary=worked_database_association, backref="worked_by")
    database_want = relationship("Database", secondary=want_database_association, backref="want_by")
    dev_type = relationship("DevType", secondary=worked_devtype_association, backref="used_by")
    ed_level = Column(String)
    employment = Column(String)
    language_worked = relationship("Language", secondary=worked_language_association, backref="worked_by")
    language_want = relationship("Language", secondary=want_language_association, backref="want_by")
    main_branch = Column(String)
    misc_tech_worked = relationship("MiscTech", secondary=worked_misctech_association, backref="worked_by")
    misc_tech_want = relationship("MiscTech", secondary=want_misctech_association, backref="want_by")
    op_sys = relationship("OpSys", secondary=worked_opsys_association, backref="worked_by")
    org_size = Column(String)
    platform_worked = relationship("Platform", secondary=worked_platform_association, backref="worked_by")
    platform_want = relationship("Platform", secondary=want_platform_association, backref="want_by")
    response_id = Column(Integer)
    webframe_worked = relationship("WebFrame", secondary=worked_webframe_association, backref="worked_by")
    webframe_want = relationship("WebFrame", secondary=want_webframe_association, backref="want_by")
    years_code = Column(String)
    years_codepro = Column(String)

#### Criar tabelas

In [7]:
Base.metadata.create_all(engine)

2023-08-28 22:30:03,469 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-28 22:30:03,470 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("codacts")
2023-08-28 22:30:03,470 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,471 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("codacts")
2023-08-28 22:30:03,472 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,473 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("collabs")
2023-08-28 22:30:03,473 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,474 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("collabs")
2023-08-28 22:30:03,475 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,476 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("databases")
2023-08-28 22:30:03,476 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,477 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("databases")
2023-08-28 22:30:03,479 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,480 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("devtypes")
2023-08-28 22:30:03,480 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,481 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("devtypes")
2023-08-28 22:30:03,482 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,483 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("languages")
2023-08-28 22:30:03,483 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,484 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("languages")
2023-08-28 22:30:03,485 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,486 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("misctechs")
2023-08-28 22:30:03,487 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,488 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("misctechs")
2023-08-28 22:30:03,489 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,490 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("opsys")
2023-08-28 22:30:03,491 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,492 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("opsys")
2023-08-28 22:30:03,493 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,495 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("platforms")
2023-08-28 22:30:03,495 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,497 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("platforms")
2023-08-28 22:30:03,497 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,499 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("webframes")
2023-08-28 22:30:03,500 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,501 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("webframes")
2023-08-28 22:30:03,502 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,503 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("worked_codact_association")
2023-08-28 22:30:03,504 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,505 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("worked_codact_association")
2023-08-28 22:30:03,506 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,507 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("worked_collab_association")
2023-08-28 22:30:03,508 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,509 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("worked_collab_association")
2023-08-28 22:30:03,510 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,511 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("want_collab_association")
2023-08-28 22:30:03,512 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,513 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("want_collab_association")
2023-08-28 22:30:03,514 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,515 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("worked_database_association")
2023-08-28 22:30:03,516 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,518 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("worked_database_association")
2023-08-28 22:30:03,518 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,519 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("worked_devtype_association")
2023-08-28 22:30:03,520 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,521 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("worked_devtype_association")
2023-08-28 22:30:03,522 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,522 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("want_database_association")
2023-08-28 22:30:03,523 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,524 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("want_database_association")
2023-08-28 22:30:03,524 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,525 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("worked_language_association")
2023-08-28 22:30:03,526 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,527 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("worked_language_association")
2023-08-28 22:30:03,528 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,529 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("want_language_association")
2023-08-28 22:30:03,530 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,531 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("want_language_association")
2023-08-28 22:30:03,532 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,533 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("worked_misctech_association")
2023-08-28 22:30:03,534 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,535 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("worked_misctech_association")
2023-08-28 22:30:03,536 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,537 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("want_misctechs_association")
2023-08-28 22:30:03,537 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,538 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("want_misctechs_association")
2023-08-28 22:30:03,539 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,540 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("worked_opsys_association")
2023-08-28 22:30:03,540 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,541 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("worked_opsys_association")
2023-08-28 22:30:03,542 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,543 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("worked_platform_association")
2023-08-28 22:30:03,543 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,545 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("worked_platform_association")
2023-08-28 22:30:03,546 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,547 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("want_platform_association")
2023-08-28 22:30:03,548 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,550 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("want_platform_association")
2023-08-28 22:30:03,550 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,551 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("worked_webframe_association")
2023-08-28 22:30:03,552 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,553 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("worked_webframe_association")
2023-08-28 22:30:03,553 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,554 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("want_webframe_association")
2023-08-28 22:30:03,555 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,556 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("want_webframe_association")
2023-08-28 22:30:03,557 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,558 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("entries")
2023-08-28 22:30:03,558 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,559 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("entries")
2023-08-28 22:30:03,560 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-28 22:30:03,561 INFO sqlalchemy.engine.Engine
CREATE TABLE codacts (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2023-08-28 22:30:03,562 INFO sqlalchemy.engine.Engine [no key 0.00069s] ()
2023-08-28 22:30:03,567 INFO sqlalchemy.engine.Engine
CREATE TABLE collabs (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2023-08-28 22:30:03,568 INFO sqlalchemy.engine.Engine [no key 0.00080s] ()
2023-08-28 22:30:03,572 INFO sqlalchemy.engine.Engine
CREATE TABLE databases (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2023-08-28 22:30:03,573 INFO sqlalchemy.engine.Engine [no key 0.00078s] ()
2023-08-28 22:30:03,578 INFO sqlalchemy.engine.Engine
CREATE TABLE devtypes (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2023-08-28 22:30:03,578 INFO sqlalchemy.engine.Engine [no key 0.00087s] ()
2023-08-28 22:30:03,583 INFO sqlalchemy.engine.Engine
CREATE TABLE languages (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2023-08-28 22:30:03,584 INFO sqlalchemy.engine.Engine [no key 0.00069s] ()
2023-08-28 22:30:03,589 INFO sqlalchemy.engine.Engine
CREATE TABLE misctechs (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2023-08-28 22:30:03,590 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2023-08-28 22:30:03,594 INFO sqlalchemy.engine.Engine
CREATE TABLE opsys (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2023-08-28 22:30:03,595 INFO sqlalchemy.engine.Engine [no key 0.00102s] ()
2023-08-28 22:30:03,599 INFO sqlalchemy.engine.Engine
CREATE TABLE platforms (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2023-08-28 22:30:03,600 INFO sqlalchemy.engine.Engine [no key 0.00082s] ()
2023-08-28 22:30:03,605 INFO sqlalchemy.engine.Engine
CREATE TABLE webframes (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2023-08-28 22:30:03,606 INFO sqlalchemy.engine.Engine [no key 0.00057s] ()
2023-08-28 22:30:03,611 INFO sqlalchemy.engine.Engine
CREATE TABLE entries (
	id INTEGER NOT NULL,
	year INTEGER,
	age INTEGER,
	converted_compy INTEGER,
	ed_level VARCHAR,
	employment VARCHAR,
	main_branch VARCHAR,
	org_size VARCHAR,
	response_id INTEGER,
	years_code VARCHAR,
	years_codepro VARCHAR,
	PRIMARY KEY (id)
)


2023-08-28 22:30:03,612 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2023-08-28 22:30:03,618 INFO sqlalchemy.engine.Engine
CREATE TABLE worked_codact_association (
	entry_id INTEGER,
	codact_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(codact_id) REFERENCES codacts (id)
)


2023-08-28 22:30:03,618 INFO sqlalchemy.engine.Engine [no key 0.00057s] ()
2023-08-28 22:30:03,622 INFO sqlalchemy.engine.Engine
CREATE TABLE worked_collab_association (
	entry_id INTEGER,
	collab_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(collab_id) REFERENCES collabs (id)
)


2023-08-28 22:30:03,623 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2023-08-28 22:30:03,626 INFO sqlalchemy.engine.Engine
CREATE TABLE want_collab_association (
	entry_id INTEGER,
	collab_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(collab_id) REFERENCES collabs (id)
)


2023-08-28 22:30:03,627 INFO sqlalchemy.engine.Engine [no key 0.00091s] ()
2023-08-28 22:30:03,631 INFO sqlalchemy.engine.Engine
CREATE TABLE worked_database_association (
	entry_id INTEGER,
	database_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(database_id) REFERENCES databases (id)
)


2023-08-28 22:30:03,632 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2023-08-28 22:30:03,636 INFO sqlalchemy.engine.Engine
CREATE TABLE worked_devtype_association (
	entry_id INTEGER,
	devtype_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(devtype_id) REFERENCES devtypes (id)
)


2023-08-28 22:30:03,637 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2023-08-28 22:30:03,641 INFO sqlalchemy.engine.Engine
CREATE TABLE want_database_association (
	entry_id INTEGER,
	database_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(database_id) REFERENCES databases (id)
)


2023-08-28 22:30:03,641 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2023-08-28 22:30:03,645 INFO sqlalchemy.engine.Engine
CREATE TABLE worked_language_association (
	entry_id INTEGER,
	language_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(language_id) REFERENCES languages (id)
)


2023-08-28 22:30:03,646 INFO sqlalchemy.engine.Engine [no key 0.00062s] ()
2023-08-28 22:30:03,650 INFO sqlalchemy.engine.Engine
CREATE TABLE want_language_association (
	entry_id INTEGER,
	language_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(language_id) REFERENCES languages (id)
)


2023-08-28 22:30:03,651 INFO sqlalchemy.engine.Engine [no key 0.00061s] ()
2023-08-28 22:30:03,655 INFO sqlalchemy.engine.Engine
CREATE TABLE worked_misctech_association (
	entry_id INTEGER,
	misctech_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(misctech_id) REFERENCES misctechs (id)
)


2023-08-28 22:30:03,656 INFO sqlalchemy.engine.Engine [no key 0.00062s] ()
2023-08-28 22:30:03,660 INFO sqlalchemy.engine.Engine
CREATE TABLE want_misctechs_association (
	entry_id INTEGER,
	misctech_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(misctech_id) REFERENCES misctechs (id)
)


2023-08-28 22:30:03,661 INFO sqlalchemy.engine.Engine [no key 0.00078s] ()
2023-08-28 22:30:03,665 INFO sqlalchemy.engine.Engine
CREATE TABLE worked_opsys_association (
	entry_id INTEGER,
	opsys_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(opsys_id) REFERENCES opsys (id)
)


2023-08-28 22:30:03,666 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()
2023-08-28 22:30:03,670 INFO sqlalchemy.engine.Engine
CREATE TABLE worked_platform_association (
	entry_id INTEGER,
	platform_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(platform_id) REFERENCES platforms (id)
)


2023-08-28 22:30:03,671 INFO sqlalchemy.engine.Engine [no key 0.00084s] ()
2023-08-28 22:30:03,675 INFO sqlalchemy.engine.Engine
CREATE TABLE want_platform_association (
	entry_id INTEGER,
	platform_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(platform_id) REFERENCES platforms (id)
)


2023-08-28 22:30:03,676 INFO sqlalchemy.engine.Engine [no key 0.00083s] ()
2023-08-28 22:30:03,680 INFO sqlalchemy.engine.Engine
CREATE TABLE worked_webframe_association (
	entry_id INTEGER,
	webframe_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(webframe_id) REFERENCES webframes (id)
)


2023-08-28 22:30:03,680 INFO sqlalchemy.engine.Engine [no key 0.00073s] ()
2023-08-28 22:30:03,684 INFO sqlalchemy.engine.Engine
CREATE TABLE want_webframe_association (
	entry_id INTEGER,
	webframe_id INTEGER,
	FOREIGN KEY(entry_id) REFERENCES entries (id),
	FOREIGN KEY(webframe_id) REFERENCES webframes (id)
)


2023-08-28 22:30:03,685 INFO sqlalchemy.engine.Engine [no key 0.00056s] ()
2023-08-28 22:30:03,688 INFO sqlalchemy.engine.Engine COMMIT

## Inserção dos dados

### test

In [8]:
csv_files = []
for year in range(19, 24):
    csv_files.append([out_path + "/" + init_csv_pattern + str(year) + end_csv_pattern, year + 2000])

In [9]:
for csv in csv_files:

    data = pd.read_csv(csv[0])
    for index, row in data.iloc[:2].iterrows():
        
        row_items = row["CodingActivities"].split(';') if pd.notnull(row['CodingActivities']) else []
        coding_act_objects = []
        for obj in row_items:
            tb_obj = session.query(CodingAct).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = CodingAct(name=obj)
                session.add(tb_obj)
            if tb_obj:
                coding_act_objects.append(tb_obj)
    
        row_items = row["NEWCollabToolsHaveWorkedWith"].split(';') if pd.notnull(row['NEWCollabToolsHaveWorkedWith']) else []
        collab_worked_objects = []
        for obj in row_items:
            tb_obj = session.query(Collab).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = Collab(name=obj)
                session.add(tb_obj)
            if tb_obj:
                collab_worked_objects.append(tb_obj)
    
        row_items = row["NEWCollabToolsWantToWorkWith"].split(';') if pd.notnull(row['NEWCollabToolsWantToWorkWith']) else []
        collab_want_objects = []
        for obj in row_items:
            tb_obj = session.query(Collab).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = Collab(name=obj)
                session.add(tb_obj)
            if tb_obj:
                collab_want_objects.append(tb_obj)
    
        row_items = row["DatabaseHaveWorkedWith"].split(';') if pd.notnull(row['DatabaseHaveWorkedWith']) else []
        database_worked_objects = []
        for obj in row_items:
            tb_obj = session.query(Database).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = Database(name=obj)
                session.add(tb_obj)
            if tb_obj:
                database_worked_objects.append(tb_obj)
                
        row_items = row["DatabaseWantToWorkWith"].split(';') if pd.notnull(row['DatabaseWantToWorkWith']) else []
        database_want_objects = []
        for obj in row_items:
            tb_obj = session.query(Database).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = Database(name=obj)
                session.add(tb_obj)
            if tb_obj:
                database_want_objects.append(tb_obj)
    
        row_items = row["DevType"].split(';') if pd.notnull(row['DevType']) else []
        devtype_objects = []
        for obj in row_items:
            tb_obj = session.query(DevType).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = DevType(name=obj)
                session.add(tb_obj)
            if tb_obj:
                devtype_objects.append(tb_obj)
                
        row_items = row["LanguageHaveWorkedWith"].split(';') if pd.notnull(row['LanguageHaveWorkedWith']) else []
        language_worked_objects = []
        for obj in row_items:
            tb_obj = session.query(Language).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = Language(name=obj)
                session.add(tb_obj)
            if tb_obj:
                language_worked_objects.append(tb_obj)
                
        row_items = row["LanguageWantToWorkWith"].split(';') if pd.notnull(row['LanguageWantToWorkWith']) else []
        language_want_objects = []
        for obj in row_items:
            tb_obj = session.query(Language).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = Language(name=obj)
                session.add(tb_obj)
            if tb_obj:
                language_want_objects.append(tb_obj)
    
        row_items = row["MiscTechHaveWorkedWith"].split(';') if pd.notnull(row['MiscTechHaveWorkedWith']) else []
        misc_tech_worked_objects = []
        for obj in row_items:
            tb_obj = session.query(MiscTech).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = MiscTech(name=obj)
                session.add(tb_obj)
            if tb_obj:
                misc_tech_worked_objects.append(tb_obj)
    
        row_items = row["MiscTechWantToWorkWith"].split(';') if pd.notnull(row['MiscTechWantToWorkWith']) else []
        misc_tech_want_objects = []
        for obj in row_items:
            tb_obj = session.query(MiscTech).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = MiscTech(name=obj)
                session.add(tb_obj)
            if tb_obj:
                misc_tech_want_objects.append(tb_obj)
    
        row_items = row["OpSys"].split(';') if pd.notnull(row['OpSys']) else []
        op_sys_objects = []
        for obj in row_items:
            tb_obj = session.query(OpSys).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = OpSys(name=obj)
                session.add(tb_obj)
            if tb_obj:
                op_sys_objects.append(tb_obj)
    
        row_items = row["PlatformHaveWorkedWith"].split(';') if pd.notnull(row['PlatformHaveWorkedWith']) else []
        platform_worked_objects = []
        for obj in row_items:
            tb_obj = session.query(Platform).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = Platform(name=obj)
                session.add(tb_obj)
            if tb_obj:
                platform_worked_objects.append(tb_obj)
    
        row_items = row["PlatformWantToWorkWith"].split(';') if pd.notnull(row['PlatformWantToWorkWith']) else []
        platform_want_objects = []
        for obj in row_items:
            tb_obj = session.query(Platform).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = Platform(name=obj)
                session.add(tb_obj)
            if tb_obj:
                platform_want_objects.append(tb_obj)
    
        row_items = row["WebframeHaveWorkedWith"].split(';') if pd.notnull(row['WebframeHaveWorkedWith']) else []
        webframe_worked_objects = []
        for obj in row_items:
            tb_obj = session.query(WebFrame).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = WebFrame(name=obj)
                session.add(tb_obj)
            if tb_obj:
                webframe_worked_objects.append(tb_obj)
    
        row_items = row["WebframeWantToWorkWith"].split(';') if pd.notnull(row['WebframeWantToWorkWith']) else []
        webframe_want_objects = []
        for obj in row_items:
            tb_obj = session.query(WebFrame).filter_by(name=obj).first()
            if obj and not tb_obj:
                tb_obj = WebFrame(name=obj)
                session.add(tb_obj)
            if tb_obj:
                webframe_want_objects.append(tb_obj)
        
        entry = Entry(
            year=csv[1], 
            age=row["Age"],
            coding_act=coding_act_objects,
            collab_worked=collab_worked_objects,
            collab_want=collab_want_objects,
            converted_compy=row["ConvertedCompYearly"],
            database_worked = database_worked_objects,
            database_want = database_want_objects,
            dev_type = devtype_objects,
            ed_level = row["EdLevel"],
            employment = row["Employment"],
            language_worked = language_worked_objects,
            language_want = language_want_objects,
            main_branch = row["MainBranch"],
            misc_tech_worked = misc_tech_worked_objects,
            misc_tech_want = misc_tech_want_objects,
            op_sys = op_sys_objects,
            org_size = row["OrgSize"],
            platform_worked = platform_worked_objects,
            platform_want = platform_want_objects,
            response_id = row["ResponseId"],
            webframe_worked = webframe_worked_objects,
            webframe_want = webframe_want_objects,
            years_code = row["YearsCode"],
            years_codepro = row["YearsCodePro"],
            
        )
        session.add(entry)
    
session.commit()

2023-08-28 22:30:03,790 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-28 22:30:03,793 INFO sqlalchemy.engine.Engine SELECT codacts.id AS codacts_id, codacts.name AS codacts_name
FROM codacts
WHERE codacts.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,794 INFO sqlalchemy.engine.Engine [generated in 0.00090s] ('Hobby', 1, 0)
2023-08-28 22:30:03,797 INFO sqlalchemy.engine.Engine INSERT INTO codacts (name) VALUES (?)
2023-08-28 22:30:03,798 INFO sqlalchemy.engine.Engine [generated in 0.00059s] ('Hobby',)
2023-08-28 22:30:03,801 INFO sqlalchemy.engine.Engine SELECT databases.id AS databases_id, databases.name AS databases_name
FROM databases
WHERE databases.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,801 INFO sqlalchemy.engine.Engine [generated in 0.00068s] ('DynamoDB', 1, 0)
2023-08-28 22:30:03,803 INFO sqlalchemy.engine.Engine INSERT INTO databases (name) VALUES (?)
2023-08-28 22:30:03,804 INFO sqlalchemy.engine.Engine [generated in 0.00062s] ('DynamoDB',)
2023-08-28 22:30:03,805 INFO sqlalchemy.engine.Engine SELECT databases.id AS databases_id, databases.name AS databases_name
FROM databases
WHERE databases.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,806 INFO sqlalchemy.engine.Engine [cached since 0.005058s ago] ('Firebase', 1, 0)
2023-08-28 22:30:03,807 INFO sqlalchemy.engine.Engine INSERT INTO databases (name) VALUES (?)
2023-08-28 22:30:03,808 INFO sqlalchemy.engine.Engine [cached since 0.004537s ago] ('Firebase',)
2023-08-28 22:30:03,809 INFO sqlalchemy.engine.Engine SELECT databases.id AS databases_id, databases.name AS databases_name
FROM databases
WHERE databases.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,809 INFO sqlalchemy.engine.Engine [cached since 0.008585s ago] ('Microsoft SQL Server', 1, 0)
2023-08-28 22:30:03,811 INFO sqlalchemy.engine.Engine INSERT INTO databases (name) VALUES (?)
2023-08-28 22:30:03,812 INFO sqlalchemy.engine.Engine [cached since 0.008652s ago] ('Microsoft SQL Server',)
2023-08-28 22:30:03,813 INFO sqlalchemy.engine.Engine SELECT databases.id AS databases_id, databases.name AS databases_name
FROM databases
WHERE databases.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,814 INFO sqlalchemy.engine.Engine [cached since 0.01322s ago] ('MySQL', 1, 0)
2023-08-28 22:30:03,816 INFO sqlalchemy.engine.Engine INSERT INTO databases (name) VALUES (?)
2023-08-28 22:30:03,816 INFO sqlalchemy.engine.Engine [cached since 0.01318s ago] ('MySQL',)
2023-08-28 22:30:03,818 INFO sqlalchemy.engine.Engine SELECT databases.id AS databases_id, databases.name AS databases_name
FROM databases
WHERE databases.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,818 INFO sqlalchemy.engine.Engine [cached since 0.01754s ago] ('SQLite', 1, 0)
2023-08-28 22:30:03,820 INFO sqlalchemy.engine.Engine INSERT INTO databases (name) VALUES (?)
2023-08-28 22:30:03,820 INFO sqlalchemy.engine.Engine [cached since 0.01699s ago] ('SQLite',)
2023-08-28 22:30:03,821 INFO sqlalchemy.engine.Engine SELECT databases.id AS databases_id, databases.name AS databases_name
FROM databases
WHERE databases.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,822 INFO sqlalchemy.engine.Engine [cached since 0.02126s ago] ('DynamoDB', 1, 0)
2023-08-28 22:30:03,824 INFO sqlalchemy.engine.Engine SELECT devtypes.id AS devtypes_id, devtypes.name AS devtypes_name
FROM devtypes
WHERE devtypes.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,825 INFO sqlalchemy.engine.Engine [generated in 0.00080s] ('Developer, full-stack', 1, 0)
2023-08-28 22:30:03,828 INFO sqlalchemy.engine.Engine INSERT INTO devtypes (name) VALUES (?)
2023-08-28 22:30:03,829 INFO sqlalchemy.engine.Engine [generated in 0.00085s] ('Developer, full-stack',)
2023-08-28 22:30:03,831 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,831 INFO sqlalchemy.engine.Engine [generated in 0.00059s] ('C#', 1, 0)
2023-08-28 22:30:03,833 INFO sqlalchemy.engine.Engine INSERT INTO languages (name) VALUES (?)
2023-08-28 22:30:03,834 INFO sqlalchemy.engine.Engine [generated in 0.00074s] ('C#',)
2023-08-28 22:30:03,835 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,835 INFO sqlalchemy.engine.Engine [cached since 0.004791s ago] ('HTML/CSS', 1, 0)
2023-08-28 22:30:03,837 INFO sqlalchemy.engine.Engine INSERT INTO languages (name) VALUES (?)
2023-08-28 22:30:03,837 INFO sqlalchemy.engine.Engine [cached since 0.004201s ago] ('HTML/CSS',)
2023-08-28 22:30:03,838 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,839 INFO sqlalchemy.engine.Engine [cached since 0.008143s ago] ('Java', 1, 0)
2023-08-28 22:30:03,840 INFO sqlalchemy.engine.Engine INSERT INTO languages (name) VALUES (?)
2023-08-28 22:30:03,840 INFO sqlalchemy.engine.Engine [cached since 0.00745s ago] ('Java',)
2023-08-28 22:30:03,841 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,842 INFO sqlalchemy.engine.Engine [cached since 0.01147s ago] ('JavaScript', 1, 0)
2023-08-28 22:30:03,843 INFO sqlalchemy.engine.Engine INSERT INTO languages (name) VALUES (?)
2023-08-28 22:30:03,844 INFO sqlalchemy.engine.Engine [cached since 0.01079s ago] ('JavaScript',)
2023-08-28 22:30:03,845 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,845 INFO sqlalchemy.engine.Engine [cached since 0.0148s ago] ('SQL', 1, 0)
2023-08-28 22:30:03,847 INFO sqlalchemy.engine.Engine INSERT INTO languages (name) VALUES (?)
2023-08-28 22:30:03,847 INFO sqlalchemy.engine.Engine [cached since 0.01411s ago] ('SQL',)
2023-08-28 22:30:03,848 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,849 INFO sqlalchemy.engine.Engine [cached since 0.0182s ago] ('TypeScript', 1, 0)
2023-08-28 22:30:03,850 INFO sqlalchemy.engine.Engine INSERT INTO languages (name) VALUES (?)
2023-08-28 22:30:03,851 INFO sqlalchemy.engine.Engine [cached since 0.01759s ago] ('TypeScript',)
2023-08-28 22:30:03,852 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,852 INFO sqlalchemy.engine.Engine [cached since 0.02152s ago] ('HTML/CSS', 1, 0)
2023-08-28 22:30:03,853 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,854 INFO sqlalchemy.engine.Engine [cached since 0.02315s ago] ('JavaScript', 1, 0)
2023-08-28 22:30:03,856 INFO sqlalchemy.engine.Engine SELECT misctechs.id AS misctechs_id, misctechs.name AS misctechs_name
FROM misctechs
WHERE misctechs.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,856 INFO sqlalchemy.engine.Engine [generated in 0.00072s] ('.NET', 1, 0)
2023-08-28 22:30:03,858 INFO sqlalchemy.engine.Engine INSERT INTO misctechs (name) VALUES (?)
2023-08-28 22:30:03,858 INFO sqlalchemy.engine.Engine [generated in 0.00051s] ('.NET',)
2023-08-28 22:30:03,860 INFO sqlalchemy.engine.Engine SELECT misctechs.id AS misctechs_id, misctechs.name AS misctechs_name
FROM misctechs
WHERE misctechs.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,860 INFO sqlalchemy.engine.Engine [cached since 0.004618s ago] ('.NET Core', 1, 0)
2023-08-28 22:30:03,862 INFO sqlalchemy.engine.Engine INSERT INTO misctechs (name) VALUES (?)
2023-08-28 22:30:03,862 INFO sqlalchemy.engine.Engine [cached since 0.004124s ago] ('.NET Core',)
2023-08-28 22:30:03,863 INFO sqlalchemy.engine.Engine SELECT misctechs.id AS misctechs_id, misctechs.name AS misctechs_name
FROM misctechs
WHERE misctechs.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,864 INFO sqlalchemy.engine.Engine [cached since 0.007952s ago] ('Node.js', 1, 0)
2023-08-28 22:30:03,865 INFO sqlalchemy.engine.Engine INSERT INTO misctechs (name) VALUES (?)
2023-08-28 22:30:03,866 INFO sqlalchemy.engine.Engine [cached since 0.007617s ago] ('Node.js',)
2023-08-28 22:30:03,867 INFO sqlalchemy.engine.Engine SELECT misctechs.id AS misctechs_id, misctechs.name AS misctechs_name
FROM misctechs
WHERE misctechs.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,867 INFO sqlalchemy.engine.Engine [cached since 0.01147s ago] ('Node.js', 1, 0)
2023-08-28 22:30:03,869 INFO sqlalchemy.engine.Engine SELECT opsys.id AS opsys_id, opsys.name AS opsys_name
FROM opsys
WHERE opsys.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,869 INFO sqlalchemy.engine.Engine [generated in 0.00053s] ('MacOS', 1, 0)
2023-08-28 22:30:03,872 INFO sqlalchemy.engine.Engine INSERT INTO opsys (name) VALUES (?)
2023-08-28 22:30:03,872 INFO sqlalchemy.engine.Engine [generated in 0.00072s] ('MacOS',)
2023-08-28 22:30:03,874 INFO sqlalchemy.engine.Engine SELECT platforms.id AS platforms_id, platforms.name AS platforms_name
FROM platforms
WHERE platforms.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,874 INFO sqlalchemy.engine.Engine [generated in 0.00056s] ('Android', 1, 0)
2023-08-28 22:30:03,876 INFO sqlalchemy.engine.Engine INSERT INTO platforms (name) VALUES (?)
2023-08-28 22:30:03,877 INFO sqlalchemy.engine.Engine [generated in 0.00073s] ('Android',)
2023-08-28 22:30:03,878 INFO sqlalchemy.engine.Engine SELECT platforms.id AS platforms_id, platforms.name AS platforms_name
FROM platforms
WHERE platforms.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,879 INFO sqlalchemy.engine.Engine [cached since 0.005166s ago] ('AWS', 1, 0)
2023-08-28 22:30:03,881 INFO sqlalchemy.engine.Engine INSERT INTO platforms (name) VALUES (?)
2023-08-28 22:30:03,882 INFO sqlalchemy.engine.Engine [cached since 0.006073s ago] ('AWS',)
2023-08-28 22:30:03,884 INFO sqlalchemy.engine.Engine SELECT platforms.id AS platforms_id, platforms.name AS platforms_name
FROM platforms
WHERE platforms.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,884 INFO sqlalchemy.engine.Engine [cached since 0.01025s ago] ('Microsoft Azure', 1, 0)
2023-08-28 22:30:03,886 INFO sqlalchemy.engine.Engine INSERT INTO platforms (name) VALUES (?)
2023-08-28 22:30:03,887 INFO sqlalchemy.engine.Engine [cached since 0.01092s ago] ('Microsoft Azure',)
2023-08-28 22:30:03,888 INFO sqlalchemy.engine.Engine SELECT platforms.id AS platforms_id, platforms.name AS platforms_name
FROM platforms
WHERE platforms.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,889 INFO sqlalchemy.engine.Engine [cached since 0.01529s ago] ('AWS', 1, 0)
2023-08-28 22:30:03,892 INFO sqlalchemy.engine.Engine SELECT webframes.id AS webframes_id, webframes.name AS webframes_name
FROM webframes
WHERE webframes.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,892 INFO sqlalchemy.engine.Engine [generated in 0.00066s] ('Angular/Angular.js', 1, 0)
2023-08-28 22:30:03,896 INFO sqlalchemy.engine.Engine INSERT INTO webframes (name) VALUES (?)
2023-08-28 22:30:03,896 INFO sqlalchemy.engine.Engine [generated in 0.00073s] ('Angular/Angular.js',)
2023-08-28 22:30:03,898 INFO sqlalchemy.engine.Engine SELECT webframes.id AS webframes_id, webframes.name AS webframes_name
FROM webframes
WHERE webframes.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,899 INFO sqlalchemy.engine.Engine [cached since 0.007013s ago] ('ASP.NET', 1, 0)
2023-08-28 22:30:03,900 INFO sqlalchemy.engine.Engine INSERT INTO webframes (name) VALUES (?)
2023-08-28 22:30:03,901 INFO sqlalchemy.engine.Engine [cached since 0.005222s ago] ('ASP.NET',)
2023-08-28 22:30:03,902 INFO sqlalchemy.engine.Engine SELECT webframes.id AS webframes_id, webframes.name AS webframes_name
FROM webframes
WHERE webframes.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,902 INFO sqlalchemy.engine.Engine [cached since 0.01078s ago] ('Express', 1, 0)
2023-08-28 22:30:03,904 INFO sqlalchemy.engine.Engine INSERT INTO webframes (name) VALUES (?)
2023-08-28 22:30:03,905 INFO sqlalchemy.engine.Engine [cached since 0.008963s ago] ('Express',)
2023-08-28 22:30:03,906 INFO sqlalchemy.engine.Engine SELECT webframes.id AS webframes_id, webframes.name AS webframes_name
FROM webframes
WHERE webframes.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,906 INFO sqlalchemy.engine.Engine [cached since 0.01467s ago] ('jQuery', 1, 0)
2023-08-28 22:30:03,908 INFO sqlalchemy.engine.Engine INSERT INTO webframes (name) VALUES (?)
2023-08-28 22:30:03,908 INFO sqlalchemy.engine.Engine [cached since 0.01285s ago] ('jQuery',)
2023-08-28 22:30:03,910 INFO sqlalchemy.engine.Engine SELECT webframes.id AS webframes_id, webframes.name AS webframes_name
FROM webframes
WHERE webframes.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,910 INFO sqlalchemy.engine.Engine [cached since 0.01857s ago] ('React.js', 1, 0)
2023-08-28 22:30:03,912 INFO sqlalchemy.engine.Engine INSERT INTO webframes (name) VALUES (?)
2023-08-28 22:30:03,912 INFO sqlalchemy.engine.Engine [cached since 0.01685s ago] ('React.js',)
2023-08-28 22:30:03,914 INFO sqlalchemy.engine.Engine SELECT webframes.id AS webframes_id, webframes.name AS webframes_name
FROM webframes
WHERE webframes.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,914 INFO sqlalchemy.engine.Engine [cached since 0.02263s ago] ('Express', 1, 0)
2023-08-28 22:30:03,916 INFO sqlalchemy.engine.Engine SELECT webframes.id AS webframes_id, webframes.name AS webframes_name
FROM webframes
WHERE webframes.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,916 INFO sqlalchemy.engine.Engine [cached since 0.02468s ago] ('React.js', 1, 0)
2023-08-28 22:30:03,927 INFO sqlalchemy.engine.Engine INSERT INTO entries (year, age, converted_compy, ed_level, employment, main_branch, org_size, response_id, years_code, years_codepro) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-28 22:30:03,928 INFO sqlalchemy.engine.Engine [generated in 0.00089s] (2019, 31.0, 31140.0, 'Some college/university study without earning a degree', 'Employed full-time', 'I am a developer by profession', '100 to 499 employees', 19, '14', '13')
2023-08-28 22:30:03,930 INFO sqlalchemy.engine.Engine INSERT INTO worked_codact_association (entry_id, codact_id) VALUES (?, ?)
2023-08-28 22:30:03,930 INFO sqlalchemy.engine.Engine [generated in 0.00068s] (1, 1)
2023-08-28 22:30:03,932 INFO sqlalchemy.engine.Engine INSERT INTO want_database_association (entry_id, database_id) VALUES (?, ?)
2023-08-28 22:30:03,932 INFO sqlalchemy.engine.Engine [generated in 0.00061s] (1, 1)
2023-08-28 22:30:03,934 INFO sqlalchemy.engine.Engine INSERT INTO worked_database_association (entry_id, database_id) VALUES (?, ?)
2023-08-28 22:30:03,934 INFO sqlalchemy.engine.Engine [generated in 0.00062s] [(1, 2), (1, 5), (1, 3), (1, 4), (1, 1)]
2023-08-28 22:30:03,936 INFO sqlalchemy.engine.Engine INSERT INTO worked_devtype_association (entry_id, devtype_id) VALUES (?, ?)
2023-08-28 22:30:03,937 INFO sqlalchemy.engine.Engine [generated in 0.00067s] (1, 1)
2023-08-28 22:30:03,938 INFO sqlalchemy.engine.Engine INSERT INTO want_language_association (entry_id, language_id) VALUES (?, ?)
2023-08-28 22:30:03,939 INFO sqlalchemy.engine.Engine [generated in 0.00057s] [(1, 2), (1, 4)]
2023-08-28 22:30:03,940 INFO sqlalchemy.engine.Engine INSERT INTO worked_language_association (entry_id, language_id) VALUES (?, ?)
2023-08-28 22:30:03,941 INFO sqlalchemy.engine.Engine [generated in 0.00066s] [(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6)]
2023-08-28 22:30:03,943 INFO sqlalchemy.engine.Engine INSERT INTO want_misctechs_association (entry_id, misctech_id) VALUES (?, ?)
2023-08-28 22:30:03,943 INFO sqlalchemy.engine.Engine [generated in 0.00094s] (1, 3)
2023-08-28 22:30:03,945 INFO sqlalchemy.engine.Engine INSERT INTO worked_misctech_association (entry_id, misctech_id) VALUES (?, ?)
2023-08-28 22:30:03,946 INFO sqlalchemy.engine.Engine [generated in 0.00068s] [(1, 1), (1, 2), (1, 3)]
2023-08-28 22:30:03,947 INFO sqlalchemy.engine.Engine INSERT INTO worked_opsys_association (entry_id, opsys_id) VALUES (?, ?)
2023-08-28 22:30:03,948 INFO sqlalchemy.engine.Engine [generated in 0.00053s] (1, 1)
2023-08-28 22:30:03,949 INFO sqlalchemy.engine.Engine INSERT INTO want_platform_association (entry_id, platform_id) VALUES (?, ?)
2023-08-28 22:30:03,949 INFO sqlalchemy.engine.Engine [generated in 0.00062s] (1, 2)
2023-08-28 22:30:03,951 INFO sqlalchemy.engine.Engine INSERT INTO worked_platform_association (entry_id, platform_id) VALUES (?, ?)
2023-08-28 22:30:03,952 INFO sqlalchemy.engine.Engine [generated in 0.00074s] [(1, 1), (1, 2), (1, 3)]
2023-08-28 22:30:03,953 INFO sqlalchemy.engine.Engine INSERT INTO want_webframe_association (entry_id, webframe_id) VALUES (?, ?)
2023-08-28 22:30:03,954 INFO sqlalchemy.engine.Engine [generated in 0.00060s] [(1, 3), (1, 5)]
2023-08-28 22:30:03,955 INFO sqlalchemy.engine.Engine INSERT INTO worked_webframe_association (entry_id, webframe_id) VALUES (?, ?)
2023-08-28 22:30:03,956 INFO sqlalchemy.engine.Engine [generated in 0.00088s] [(1, 1), (1, 2), (1, 3), (1, 4), (1, 5)]
2023-08-28 22:30:03,958 INFO sqlalchemy.engine.Engine SELECT codacts.id AS codacts_id, codacts.name AS codacts_name
FROM codacts
WHERE codacts.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,959 INFO sqlalchemy.engine.Engine [cached since 0.1654s ago] ('Hobby', 1, 0)
2023-08-28 22:30:03,961 INFO sqlalchemy.engine.Engine SELECT databases.id AS databases_id, databases.name AS databases_name
FROM databases
WHERE databases.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,962 INFO sqlalchemy.engine.Engine [cached since 0.161s ago] ('Microsoft SQL Server', 1, 0)
2023-08-28 22:30:03,964 INFO sqlalchemy.engine.Engine SELECT devtypes.id AS devtypes_id, devtypes.name AS devtypes_name
FROM devtypes
WHERE devtypes.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,964 INFO sqlalchemy.engine.Engine [cached since 0.1402s ago] ('Developer, back-end', 1, 0)
2023-08-28 22:30:03,966 INFO sqlalchemy.engine.Engine INSERT INTO devtypes (name) VALUES (?)
2023-08-28 22:30:03,967 INFO sqlalchemy.engine.Engine [cached since 0.1391s ago] ('Developer, back-end',)
2023-08-28 22:30:03,968 INFO sqlalchemy.engine.Engine SELECT devtypes.id AS devtypes_id, devtypes.name AS devtypes_name
FROM devtypes
WHERE devtypes.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,969 INFO sqlalchemy.engine.Engine [cached since 0.145s ago] ('Developer, front-end', 1, 0)
2023-08-28 22:30:03,971 INFO sqlalchemy.engine.Engine INSERT INTO devtypes (name) VALUES (?)
2023-08-28 22:30:03,971 INFO sqlalchemy.engine.Engine [cached since 0.1436s ago] ('Developer, front-end',)
2023-08-28 22:30:03,973 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,973 INFO sqlalchemy.engine.Engine [cached since 0.1429s ago] ('Bash/Shell/PowerShell', 1, 0)
2023-08-28 22:30:03,975 INFO sqlalchemy.engine.Engine INSERT INTO languages (name) VALUES (?)
2023-08-28 22:30:03,976 INFO sqlalchemy.engine.Engine [cached since 0.143s ago] ('Bash/Shell/PowerShell',)
2023-08-28 22:30:03,978 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,978 INFO sqlalchemy.engine.Engine [cached since 0.148s ago] ('C', 1, 0)
2023-08-28 22:30:03,980 INFO sqlalchemy.engine.Engine INSERT INTO languages (name) VALUES (?)
2023-08-28 22:30:03,981 INFO sqlalchemy.engine.Engine [cached since 0.148s ago] ('C',)
2023-08-28 22:30:03,982 INFO sqlalchemy.engine.Engine SELECT languages.id AS languages_id, languages.name AS languages_name
FROM languages
WHERE languages.name = ?
 LIMIT ? OFFSET ?
2023-08-28 22:30:03,983 INFO sqlalchemy.engine.Engine [cached since 0.1523s ago] ('C++', 1, 0)